/* Your SCSS here. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    top: 0;
    position: sticky;
    z-index: 1000;
}

.navbar {


    display: flex;
    justify-content: space-between;
    align-items: center;



    width: 100%;
    height: 60px;
        
    background-color: rgba(0, 0, 0, 0.801);

    transition:
        height 300ms ease,
        padding 300ms ease,
        background-color 300ms ease;

    &__title{
        color: white;
        margin: 0 1rem;
        font-size: 24px;

        transition: font-size 300ms ease;
    }

    &__items{
        display: flex;
        gap: 1rem;
        margin: 0 1rem;

        transition: gap 300ms ease;


        a{
            text-decoration: none;
            color: hsl(210, 100%, 99%);
            font-size: 17px;

            transition:
                color 300ms ease,
                font-size 300ms ease;

            &:hover{
                color: hsl(212, 14%, 75%);
                text-decoration: underline;
                transition-duration: 500ms;
            }

            &.active {
                color: cornflowerblue;
                text-decoration: solid;
                transition-duration: 500ms;
                font-style: italic;
            }
        }
    }

    &.scrolled {

        height: 45px;
        padding: 0 0.8rem;

        .navbar__title {
            font-size: 20px;
        }

        .navbar__items {    
            gap: 0.8rem;
            
            a {
                font-size: 14px;
            }
        }

    }
}


.hero{
    position: relative;
    min-height: 100vh ;
    scroll-margin-top: 60px;


    display: flex;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;
    padding: 0 8%;

    &__video {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;

        z-index: -1;
    }

    &__overlay{
        position: absolute;
        inset: 0;

        background: rgba(0, 0, 0, 0.2);

        z-index: -1;
    }

    &__content {
        margin-right: 10%;
        max-width: 600px;

        color: white;

        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
            margin: 0.5rem 0;
        }
    }
}

.about{
    min-height: 100vh;
    padding: 5rem 8%;
}

.services{
    min-height: 100vh;
    padding: 5rem 8%;
}

.contact{
    min-height: 100vh;
    padding: 5rem 8%;
}

section:not(.hero) {
    scroll-margin-top: 45px;
}